<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.plavikrug">

    <!--
    ><uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" /><!
    -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/plavikrugmne"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".Doborodoslica">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PrviPut" />
        <activity
            android:name=".DodajMjerenje"
            android:parentActivityName=".GlavnaAktivnost"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".GlavnaAktivnost"
            android:label="@string/title_activity_glavna_aktivnost"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".HbA1cInsert" />
        <activity
            android:name=".DeletePopUpWindow"
            android:theme="@style/AppTheme.PopUpWindow" />
        <activity
            android:name=".EditPopUpWindow"
            android:theme="@style/AppTheme.PopUpWindow2" />
        <activity
            android:name=".PomocActivity"
            android:theme="@style/AppTheme.PopUpWindow" />
        <activity
            android:name=".PDFReportPopUpWindow"
            android:theme="@style/AppTheme.PopUpWindow"/>

        <activity android:name=".BackUpActivity" />
        <activity
            android:name=".SetEmailPopUpWindow"
            android:theme="@style/AppTheme.PopUpWindow" />
        <activity android:name=".DoBackUp"
            android:theme="@style/AppTheme.PopUpWindowNoClose"
            android:parentActivityName=".GlavnaAktivnost"/>
        <activity android:name=".VerifyEmail"
            android:theme="@style/AppTheme.PopUpWindow"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="me.plavikrug.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>